h1 Выберите чай!

p Для добавления/удаления товара кликните по названию.

= form_tag calculate_path, id: 'cart-form' do
  table.table
    tr
      th Название
      th Цена
      th Количество

    - @products.each do |product|
      tr
        td.name = product.name
        td = number_to_currency product.price
        td
          = hidden_field_tag 'products[][id]', product.id, disabled: true
          = text_field_tag 'products[][count]', 1, disabled: true, class: 'quantity'

| Скидка:
span#discount
br

| Сумма заказа с учетом скидки:
span#total
